<!-- 
Name: Nikki Monique Daug
Date: July 26, 2015
 -->
 <!DOCTYPE HTML>
<html ng-app="applications">
<head>
    <title>Using AngularJS Directives and Data Binding</title>
</head>
<body>
    <div class="container" ng-controller="SimpleController" >
        Name: <input type="text" ng-model="name" /> {{name}}
        <h3>Adding a Simple Controller</h3>
        <ul>
            <li ng-repeat="cust in customers | filter:name | orderBy:'city'">
            {{cust.name | uppercase}} - {{cust.city | lowercase}}</li>
        </ul>
    </div>
    
    <script type="text/javascript" src="angular/angular.min.js"></script>
    <script>
        angular.module('applications', [])
                .controller('SimpleController', ['$scope', SimpleController]); 
        function SimpleController($scope)
        {
            $scope.customers = [
                {name:'John Smith',city:'Phoenix'},
                {name:'John Doe',city:'New York'},
                {name:'Jane Doe',city:'San Francisco'}
            ];
        }
    </script>
</body>
</html>